body {
  background-color: whitesmoke;
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h1,
h2 {
  color: #66bfbf;
}
h1 {
  margin: 50px auto 0px auto;
  font-size: 5rem;
  line-height: 2;
}
h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}

h3,
hr,
a {
  color: #11999e;
}
p {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}
hr {
  border: none;
  width: 10%;
  margin: 50px auto;
}
a {
  text-decoration: none;
  margin: 10px 20px;
  font-weight: bold;
}
a:visited {
  color: #108c91;
}
a:hover {
  color: #eaf6f6;
}
/* Top */
.top-container {
  position: relative;
  background: linear-gradient(to top, whitesmoke, #a0ffee);
  padding-top: 100px;
}
.top-cloud {
  top: 40px;
  right: 30vw;
  position: absolute;
}
.bottom-cloud {
  position: absolute;
  left: 26vw;
  bottom: 300px;
  transform: rotateY(180deg);
}

/* INTRODUCTION */

.middle-container {
  margin: 100px auto;
}
.profile-picture {
  border-radius: 100%;
}
.intro {
  width: 30%;
  margin: auto;
}

/* CAROUSEL */

.carousel {
  min-height: 550px;
}
.carousel-arrow {
  color: #108c91;
  font-size: 2.2rem;
  font-weight: 900;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #108c91;
}

/* GOALS */

.computer-gif {
  width: 20%;
}
.goals-text {
  font-size: 2rem;
  line-height: 3rem;
  width: 60%;
  margin: auto;
}
.goals-sub-text {
  display: block;
  margin: auto;
  font-size: 1.1rem;
  width: 60%;
}
.computer-img {
  width: 18%;
  border-radius: 100%;
}
.python-gif {
  width: 25%;
}

/* Contact  */

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
  background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
